pipeline/airlinepipeline.json
{
	"name": "airlinepipeline",
	"properties": {
		"activities": [
			{
				"name": "FindDailyFlightfiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DailyFlightSource",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "CheckExistence",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "FindDailyFlightfiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('FindDailyFlightfiles').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "printifdoesnotexist",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "FalseParams",
								"value": {
									"value": "@activity('FindDailyFlightfiles').output.exists",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "printExists",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "TrueParams",
								"value": {
									"value": "@activity('FindDailyFlightfiles').output.exists",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Data flow",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "printExists",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "AirlineDataTransformation",
									"type": "DataFlowReference"
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"variables": {
			"FalseParam": {
				"type": "String"
			},
			"TrueParam": {
				"type": "String"
			},
			"TrueParams": {
				"type": "Boolean"
			},
			"FalseParams": {
				"type": "Boolean"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-05-23T10:08:44Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}